*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules

# PERBAIKAN VERCEL: Hapus /public/build agar CSS & JS hasil compile ikut ter-push
# /public/build

/public/hot

# PERBAIKAN VERCEL: Hapus /public/storage agar gambar project/logo ikut ter-push
# /public/storage

/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db